


<div class="card-deck">
  <div class="card" >  
                <div class="modal-body">
           
                          
                    <form >
                        <div class="form-group">
                          <label> Id: </label>
                          <input type="text" [(ngModel)]="incident1.id" class="form-control"  name="id" id="incidentId" placeholder="ID">
                        </div>

                        <div class="form-group">
                            <label > Date: </label>
                            <input type="date" [(ngModel)]="incident1.date" class="form-control" name="date" id="incidentDate" placeholder="DD/MM/YY">
                          </div>

                          <div class="form-group">
                            <label > Motif: </label>
                            <input type="text" [(ngModel)]="incident1.motif" class="form-control" name="motif" id="incidentMotif" placeholder="Motif"> 
                          </div>

                          <div class="form-group">
                            <label > Description: </label>
                            <textarea type="text" [(ngModel)]="incident1.description" class="form-control" name="motif" id="incidentDescription" placeholder="Description"> </textarea>
                          </div>

                          <div class="form-group">
                            <label > Lieu: </label>
                            <input type="text" [(ngModel)]="incident1.lieu" class="form-control" name="lieu" id="incidentLieu" placeholder="Lieu">
                          </div>

                          <div class="form-group">
                            <label > Image: </label>
                            <input type="file"  class="form-control-file" id="incidentImage"     accept="image/*" (change)="showPreviewImage($event)">
                          </div>
                          
                          <div class="form-group">
                             <img style="height: 50px; width: 50px;" [src]="localUrl" *ngIf="localUrl" class="imgPlaceholder">
                          </div>
                         
                      
                        <button type="submit" id="button" class="btn btn-success" type="submit" name="submit_reg" value="Register" (click)="ajouterIncident()">Ajouter</button>
                      </form>       
                </div>
  </div>

    
    <div class="card" >

              <table id="example" class="table table-striped table-hover table-fixed">
                <thead class="thead-dark">
    
                    <tr>
                        <th style="width:70%;" class="text-center" id="RDVl" scope="col" [appSort]="incidents" data-order="desc" data-name="id">Incident</th>
                        <th style="width:30%;" class="text-center" id="RDVl" scope="col" [appSort]="incidents" data-order="desc" data-name="disponible"> Etat</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let incident of incidents" data-toggle="modal" data-target="#incidentModal" (click)="openXl(content, incident)">
                        <td style="width:70%;" >
                            <div>
                                <h2  class="mb-4 text-left">{{incident.motif}}</h2>
    
    
                            </div>
                            <div >
                                <h5 class="mb-4 text-left"> Motif : {{incident.motif}}</h5>
    
    
                            </div>
                            <div >
                                <h5 class="mb-4 text-left">Le {{incident.date.substring(8, 10)}}/{{incident.date.substring(5, 7)}}/{{incident.date.substring(0, 4)}} à {{incident.date.substring(11, 16)}}</h5>
    
    
                            </div>
                        </td>
                        <td  style="width:30%;" >
                            <div  [ngSwitch]="incident.etat">
                                <br><br>
                              
                                  <h5 id="incidEtatEnCours" *ngSwitchCase="1" >En cours </h5>
                                  <h5 id="incidEtatResolu" *ngSwitchCase="2" >Résolu </h5>
                                  <h5 id="incidEtatNonTraité" *ngSwitchDefault >Non Traité </h5>
                            
                            </div>
                        </td>
                    </tr>
    
                </tbody>
    
            </table>
    
    </div>

  </div>


     



 <!--Model -->
 <ng-template #content let-modal>
    <div class="modal-header" style="background-color: #EEEEEE;">
      <h2 class="modal-title" id="exampleModalLabel">{{incidentModel.motif}}</h2>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <div class="modal-body">
      <div class="row">
          <div class="col">
                <div class="form-group">
                  <label for="staticEmail" class="col-sm-4 col-form-label">Lieu : </label>
                  <div class="col-sm-8">
                    <h5 class="form-control-plaintext" id="staticEmail" > {{incidentModel.etudiant.chambre}} </h5>
                  </div>
                </div>

                <div class="form-group ">
                  <label for="staticEmail" class="col-sm-4 col-form-label">Signalé le : </label>
                  <div class="col-sm-8">
                    <h5 class="form-control-plaintext" id="staticEmail" > {{incidentModel.date.substring(8, 10)}}/{{incidentModel.date.substring(5, 7)}}/{{incidentModel.date.substring(0, 4)}} à {{incidentModel.date.substring(11, 16)}} </h5>
                  </div>
                </div>

                <div class="incidEtat" [ngSwitch]="incidentModel.etat">
                  <h5 style="margin-right: 20%;" id="incidEtatEnCours" *ngSwitchCase="1" > &reg; En cours </h5>
                  <h5 style="margin-right: 20%;" id="incidEtatResolu" *ngSwitchCase="2" > &reg; Résolu </h5>
                  <h5 style="margin-right: 20%;" id="incidEtatNonTraité" *ngSwitchDefault > &reg; Non Traité </h5>
                </div>

            

                <div class="form-group ">
                      <label for="staticEmail" class="col-sm-4 col-form-label">Motif</label>
                      <div class="col-sm-8">
                        <h5 class="form-control-plaintext" id="staticEmail" > {{incidentModel.motif}} </h5>
                      </div>
                </div>   
          </div>
            <div class="col">
              <div class="form-group">
                <img style="margin-left: 10px; height: 260px; width: 500px;" src="../../assets/crous.jpg"  >
              </div>
            </div>

      </div>
  </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Fermer</button>
      <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="supprimerIncident(incidentModel.id)" (click)="modal.close('Close click')">Supprimer</button>
    </div>
</ng-template>






 

<!-- -->