
<div class="row">
    <div class = "col-6" >

        <h1> {{messageAdd}}</h1>
        <div class="toolbar tool" id="incident_card" role="banner">
            <div class="container">
                <div class="col-12">
                          
                    <form >
                        <div class="form-group">
                          <label> Id: </label>
                          <input type="text" [(ngModel)]="incident1.id" class="form-control"  name="id" id="incidentId" placeholder="ID">
                        </div>

                        <div class="form-group">
                            <label > Date: </label>
                            <input type="date" [(ngModel)]="incident1.date" class="form-control" name="date" id="incidentDate" placeholder="DD/MM/YY">
                          </div>

                          <div class="form-group">
                            <label > Motif: </label>
                            <textarea type="text" [(ngModel)]="incident1.motif" class="form-control" name="motif" id="incidentMotif" placeholder="Motif"> </textarea>
                          </div>

                          <div class="form-group">
                            <label > Lieu: </label>
                            <input type="text" [(ngModel)]="incident1.lieu" class="form-control" name="lieu" id="incidentLieu" placeholder="Lieu">
                          </div>

                          <div class="form-group">
                            <label > Image: </label>
                            <input type="file"  class="form-control-file" id="incidentImage" accept="image/*" (change)="showPreviewImage($event)">
                          </div>
                          
                          <div class="form-group">
                             <img style="height: 50px; width: 50px;" [src]="localUrl" *ngIf="localUrl" class="imgPlaceholder">
                          </div>
                         
                      
                        <button type="submit" class="btn btn-success" type="submit" name="submit_reg" value="Register" (click)="ajouterIncident()">Submit</button>
                      </form>


                </div>
                </div>
        </div>
    </div>
    <div class="col-6">
        <div class="toolbar tool" id="incident_card" role="banner">
             <h1 id="incidTitGene" >Incidents signalés</h1>
            <div class="row" *ngFor="let incident of incidents">
                <div class="one_incident" >
                    <h1 id="incidTitre" >{{incident.motif}}</h1>

                    <div id="incidDate" >  <b>Signalé le : {{incident.date}} </b> </div>
                    <div class="incidEtat" [ngSwitch]="incident.etat">
                        <h5 id="incidEtatEnCours" *ngSwitchCase="1" > &reg; En cours </h5>
                        <h5 id="incidEtatResolu" *ngSwitchCase="2" > &reg; Résolu </h5>
                        <h5 id="incidEtatNonTraité" *ngSwitchDefault > &reg; Non Traité </h5>
                    </div>
                    
                </div>
                </div>
    
        </div>

    </div>
</div>