

    <div class="row">
        <div class = "col-6" >
            <div class="toolbar tool" id="liste_event" role="banner">
                <div class="row" *ngFor="let event of events">
                <div class="one_event" (click)="eventClicked(event.image_url)">
                    <h3>{{event.titre}}</h3>
                    <p> {{event.detail}}</p>
                </div>
               
                </div>

            </div>
        </div>
        <div class="col-6">
            <div class="toolbar tool" role="banner">
                <img src="{{image_url}}" class="img-fluid" id="image_event"/>
                
            </div>

        </div>
    </div>

